In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/LocalPayNYC.csv")

In [3]:
df.head()

,data_year,agency_name,job_category,pay_band,lower_pay_band_bound,upper_pay_band_bound,employee_status,race,ethnicity,gender,number_of_employees
0,2018,ADMINISTRATION FOR CHILDREN'S SERVICES,ADMINISTRATIVE SUPPORT,30000-34999,30000.0,34999.0,Full-Time,Black or African American,Non-Hispanic or Latino,Female,<5
1,2018,ADMINISTRATION FOR CHILDREN'S SERVICES,ADMINISTRATIVE SUPPORT,30000-34999,30000.0,34999.0,Full-Time,Native Hawaiian or Pacific Islander,Hispanic or Latino,Female,<5
2,2018,ADMINISTRATION FOR CHILDREN'S SERVICES,ADMINISTRATIVE SUPPORT,30000-34999,30000.0,34999.0,Full-Time,Unknown or Choose Not to Disclose,Hispanic or Latino,Female,<5
3,2018,ADMINISTRATION FOR CHILDREN'S SERVICES,ADMINISTRATIVE SUPPORT,30000-34999,30000.0,34999.0,Full-Time,Unknown or Choose Not to Disclose,Unknown or Choose Not to Disclose,Female,<5
4,2018,ADMINISTRATION FOR CHILDREN'S SERVICES,ADMINISTRATIVE SUPPORT,30000-34999,30000.0,34999.0,Full-Time,White,Non-Hispanic or Latino,Female,<5