In [8]:
import pandas as pd
import numpy as np 
import seaborn as sns
import re
sns.set()

In [7]:
df = pd.read_csv('try.csv')
df.head()

,Unnamed: 0,job_description,job_title,job_type,location,sector,cleaned_states
0,0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",IT/Software Development,Wisconsin
1,1,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Experienced (Non-Manager),California
2,2,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Project/Program Management,Pennsylvania
3,3,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Experienced (Non-Manager),Virginia
4,4,RESPONSIBILITIES:Kforce has a client seeking a...,Mailroom Clerk Job in Austin,Full Time Employee,"Austin, TX 73301",Experienced (Non-Manager),Texas

In [5]:
# df.location.value_counts()

Dallas, TX              482
Camphill, PA            333
Cincinnati, OH          318
Columbus, OH            315
Dallas, TX 75201        264
                       ...
Ankeny, IA                1
Quakertown, PA 18951      1
15501                     1
Green Bay 54311           1
Grafton, WI               1
Name: location, Length: 6090, dtype: int64

In [6]:
# us_state_abbreviations = {
#     'AL': 'Alabama',
#     'AK': 'Alaska',
#     'AZ': 'Arizona',
#     'AR': 'Arkansas',
#     'CA': 'California',
#     'CO': 'Colorado',
#     'CT': 'Connecticut',
#     'DE': 'Delaware',
#     'FL': 'Florida',
#     'GA': 'Georgia',
#     'HI': 'Hawaii',
#     'ID': 'Idaho',
#     'IL': 'Illinois',
#     'IN': 'Indiana',
#     'IA': 'Iowa',
#     'KS': 'Kansas',
#     'KY': 'Kentucky',
#     'LA': 'Louisiana',
#     'ME': 'Maine',
#     'MD': 'Maryland',
#     'MA': 'Massachusetts',
#     'MI': 'Michigan',
#     'MN': 'Minnesota',
#     'MS': 'Mississippi',
#     'MO': 'Missouri',
#     'MT': 'Montana',
#     'NE': 'Nebraska',
#     'NV': 'Nevada',
#     'NH': 'New Hampshire',
#     'NJ': 'New Jersey',
#     'NM': 'New Mexico',
#     'NY': 'New York',
#     'NC': 'North Carolina',
#     'ND': 'North Dakota',
#     'OH': 'Ohio',
#     'OK': 'Oklahoma',
#     'OR': 'Oregon',
#     'PA': 'Pennsylvania',
#     'RI': 'Rhode Island',
#     'SC': 'South Carolina',
#     'SD': 'South Dakota',
#     'TN': 'Tennessee',
#     'TX': 'Texas',
#     'UT': 'Utah',
#     'VT': 'Vermont',
#     'VA': 'Virginia',
#     'WA': 'Washington',
#     'WV': 'West Virginia',
#     'WI': 'Wisconsin',
#     'WY': 'Wyoming'
# }

In [8]:
# def extract_state_from_location(location):
#     for abbrev, state in us_state_abbreviations.items():
#         if abbrev in location:
#             return state
#     return None

In [10]:

# df['cleaned_states'] = df['location'].apply(lambda x: extract_state_from_location(x))

In [11]:
# df.head()

,job_description,job_title,job_type,location,sector,cleaned_states
0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",IT/Software Development,Wisconsin
1,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Experienced (Non-Manager),California
2,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Project/Program Management,Pennsylvania
3,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Experienced (Non-Manager),Virginia
4,RESPONSIBILITIES:Kforce has a client seeking a...,Mailroom Clerk Job in Austin,Full Time Employee,"Austin, TX 73301",Experienced (Non-Manager),Texas

In [12]:
# df.cleaned_states.value_counts()

Texas             2483
Ohio              1901
California        1360
Pennsylvania       833
Florida            690
Illinois           688
Georgia            568
Massachusetts      529
Tennessee          462
New York           447
Wisconsin          432
New Jersey         419
Colorado           367
Nevada             309
North Carolina     293
Washington         285
Missouri           255
Minnesota          251
Indiana            231
Alabama            231
Virginia           226
Louisiana          207
Michigan           166
South Carolina     156
Maryland           151
Kentucky           137
Kansas             120
Arkansas           111
Oklahoma           106
Utah               105
Iowa                93
Mississippi         76
Nebraska            59
Connecticut         53
Delaware            49
Idaho               48
West Virginia       46
Arizona             43
North Dakota        37
Rhode Island        33
New Hampshire       31
South Dakota        31
Oregon              29
Maine               24
New Mexico          20
Hawaii              16
Montana             16
Vermont             11
Wyoming             11
Alaska               2
Name: cleaned_states, dtype: int64

In [13]:
# df.to_csv('try.csv')

In [9]:
state_name_to_code = {
        'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
        'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
        'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
        'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
        'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
        'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
        'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
        'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
        'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
        'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
        'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
        'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
        'Wisconsin': 'WI', 'Wyoming': 'WY', 'District of Columbia': 'DC'
    }

In [13]:
def extract_state_from_map(cleaned_state):
    if isinstance(cleaned_state, str):  # Check if the value is a string
        for state, abbrev in state_name_to_code.items():
            if state in cleaned_state:
                return abbrev
    return None

In [14]:
df['states'] = df['cleaned_states'].apply(lambda x: extract_state_from_map(x))

In [15]:
df.head()

,Unnamed: 0,job_description,job_title,job_type,location,sector,cleaned_states,states
0,0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",IT/Software Development,Wisconsin,WI
1,1,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Experienced (Non-Manager),California,CA
2,2,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Project/Program Management,Pennsylvania,PA
3,3,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Experienced (Non-Manager),Virginia,VA
4,4,RESPONSIBILITIES:Kforce has a client seeking a...,Mailroom Clerk Job in Austin,Full Time Employee,"Austin, TX 73301",Experienced (Non-Manager),Texas,TX

In [16]:
df = df.rename(columns={'cleaned_states': 'location_state'})

In [17]:
df.head()

,Unnamed: 0,job_description,job_title,job_type,location,sector,location_state,states
0,0,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",IT/Software Development,Wisconsin,WI
1,1,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Experienced (Non-Manager),California,CA
2,2,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Project/Program Management,Pennsylvania,PA
3,3,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Experienced (Non-Manager),Virginia,VA
4,4,RESPONSIBILITIES:Kforce has a client seeking a...,Mailroom Clerk Job in Austin,Full Time Employee,"Austin, TX 73301",Experienced (Non-Manager),Texas,TX

In [18]:
df.to_csv('kasaf.csv')